@page "/ProjectConstructions"
@using Construction.Shared.Entities
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository Repository


<h1>Budgets Index</h1>
<div class="mb-3">
    <a class="btn btn-primary" href="/projectconstructions/create">New Project Construction</a>
</div>

<GenericList MyList="ProjectConstructions">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ProjectConstruction</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var projectconstruction in ProjectConstructions!)
                {
                    <tr>
                        <td>
                            @projectconstruction.Name
                        </td>
                        <td>
                            @projectconstruction.Address
                        </td>
                        <td>
                            @projectconstruction.Description
                        </td>
                        <td>
                            @projectconstruction.StartTime
                        </td>
                        <td>
                            @projectconstruction.EstimatedEndTime
                        </td>
                        <td>
                            @projectconstruction.Remarks
                        </td>

                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>



@code {

    public List<ProjectConstruction> ProjectConstructions { get; set; }

    protected async override Task OnInitializedAsync()
    {

        var responseHttp = await Repository.GetAsync<List<ProjectConstruction>>("/api/projectconstructions");

        ProjectConstructions = responseHttp.Response!;



    }



}

