
<EditForm Model="ConstructionTeam" OnSubmit="OnSubmit">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre</label>
        <div>
            <InputText width="10" @bind-Value="@ConstructionTeam.Name"></InputText>
            <ValidationMessage For="@(() => @ConstructionTeam.Name)" />
        </div>
        <label>Especialidades</label>
        <div>
            <InputText width="10" @bind-Value="@ConstructionTeam.Specialties"></InputText>
            <ValidationMessage For="@(() => @ConstructionTeam.Specialties)" />
        </div>
        <label>Miembros</label>
        <div>
            <InputText width="10" @bind-Value="@ConstructionTeam.MembersList"></InputText>
            <ValidationMessage For="@(() => @ConstructionTeam.MembersList)" />
        </div>
        <label>Comentarios</label>
        <div>
            <InputText width="10" @bind-Value="@ConstructionTeam.Remarks"></InputText>
            <ValidationMessage For="@(() => @ConstructionTeam.Remarks)" />
        </div>

    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>

    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

    <button class="btn btn-info" type="reset">Limpiar</button>


</EditForm>




@code {


    [EditorRequired]
    [Parameter]
    public ConstructionTeam ConstructionTeam { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

}
